// SASS Variables & Mixins.
// Fonts
$custom-font: 'Lucida Grande';
// Colors
$background-color: #18191d;
$message-background: #2a2f33;
$selection-background: #009687;
$text-color: #e4ecf2;
$link-color: #37e1cb;
@import 'mixins';

/*
===========================================
              =   Fonts   =
===========================================
*/

@include font-face('Lucida Grande', '../fonts/LucidaGrande');

/*
===========================================
              =   Global   =
===========================================
*/

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
section {
  display: block;
}

html {
  line-height: 1.15;
}

body {
  font-family: $custom-font;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  background-color: $background-color;
}

@include selection {
  color: $text-color;
  background-color: $selection-background;
}

/*
===========================================
              =   Section   =
===========================================
*/

.section {
}

/*
===========================================
              =   Media   =
===========================================
*/

:root {
  font-size: 1.125rem;
}
@media only screen and (min-width: 600px) {
  :root {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 900px) {
  :root {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    font-size: 2rem;
  }
}

.app {
  overflow: auto;
  width: 100vw;
  max-height: 100vh;
  padding: 0.5rem 0.9rem;
  .bubble {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0.2rem 0;
    padding: 0.5rem 0.5rem;
    line-height: 1.25rem;
    border-radius: 0.25rem;
    transform-origin: 0 100%;
    vertical-align: middle;
    transition: border-radius 0.25s ease-out 0.075s;
    background-color: $message-background;
    span {
      display: block;
      &.message {
        opacity: 0;
        position: relative;
        .last-message {
          // background-color: red !important;
        }
      }
    }
    a {
      display: inline-block;
      color: $link-color;
      text-decoration: none;
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $link-color;
        transition: 0.3s ease;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .loading {
      position: absolute;
      width: 4.25rem;
      font-size: 2rem;
      line-height: 1rem;
      i {
        font-style: normal;
        display: inline-block;
        color: rgba(0, 0, 0, 0.5);
      }
    }
    b {
      // display: none;
      position: absolute;
      right: 10px;
      bottom: 0;
      font-size: 0.6rem;
    }
  }
  .bubble:has(span) {
    background: red;
  }
}
